$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-hover:#f0ebf6;
$color-tertiary:#99e2d0;
$color-tertiary-l:#cbf6eb;
$txt-footer:#fff;
$bg-footer:#353535;
$bg-primary:#f6f6f6;

$shadow: 2px 2px 5px 2px rgba(163, 160, 160, 0.3);
$shadow-darker: 2px 2px 5px 5px rgba(163, 160, 160, 0.5);

$font-primary:"Roboto";
$font-secondary:"Shrikhand";